.footer {
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 20px 50px 20px 50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    pointer-events: none;

    a {
        font-size:25px;
        pointer-events: all;
        margin-right:20px;
    }

    img {
        height:50px;
    }
}